/* common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
}

.secondary-color{
    color: #E55473;
}

/* EXTRA: nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.nav-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
} 

nav a{
    text-decoration: none;
    color: #E55473;
}

/* header related styles */

.header{
    background-color: rgba(229, 84, 115, 0.10);
    background-image: url('../assets/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}